// Tailwind CSS
@import "../../../node_modules/tailwindcss/base.css";
@import "../../../node_modules/tailwindcss/components.css";
@import "../../../node_modules/tailwindcss/utilities.css";
// General CSS
@import "./hooks/index";
// Fonts
@import "../../fonts/index.css";

body {
  font-family: "Poppins", "Inter", sans-serif;
}

main {
  width: 100%;
  margin: 4.2rem 0 0;
  padding-left: 11rem;
}
